body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(155, 155, 155);
}
      
.styled-table {
  overflow: hidden;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1vw;
  border-collapse: collapse;
  margin: auto;
  font-size: 1vw;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transition: all 0.15s linear;
}

.styled-table thead tr {
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 1vw;
}

.styled-table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.15s linear;
}

.styled-table tr:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

/* The main display */
.main {
  height: 100%; /* 100% Full-height */
  width: 80%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 20%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1%; /* Place content 60px from the top */
}

.item-details{
  background-color: rgba(255, 255, 255, 0.6); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 20%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The filter inputs */
.sidenav input, .sidenav select {
  padding: 0.2vw;
  text-decoration: none;
  margin: auto;
  margin-top: 1vw;
  font-size: 1vw;
  color: #818181;
  display: block;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  outline: none;
}

.title {
  background-color: rgba(0, 0, 0, 0.15);
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 1vw;
  margin: 0px;
}

.title h2 {
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 0px;
}

/* The navigation menu buttons */
.sidenav button {
  margin: auto;
  outline: none;
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-size: 2vh;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1vh;
}

/* When you mouse over the buttons, change their color */
.sidenav button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-roller {
  transition: 0.3s;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.info, .success, .warning, .error, .validation {
  border: 1px solid;
  width: 50%;
  margin: auto;
  padding: 1vw 1vw 1vw 3vw;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('https://i.imgur.com/ilgqWuX.png');
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.validation{
  color: #D63301;
  background-color: #FFCCBA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}